.header {
    background-color: gray;
    text-align: center;
    font-weight: bold;
    height: 50px;
    font-size: 2em;
    padding: 10px;
}

.form {
    text-align: center;
    margin: 50px;
}

.list {
    text-align: center;
}